
table{

    margin-top: 50px;

}

.create-form{

    margin-left: 50px;

}

.error{

    margin-top: 15px;

}

.create-btn{

    margin-top:15px;
    background-color:white;
    color: black;

}

.label{

    margin-top:15px;

}

th, td{

    color:white;

}
