
table{

    margin-top: 50px;

}


.create-btn{

    background-color:white;
    color: black;
    margin: auto 0% auto auto;
}

.title{

    margin:30px auto 0px;

}

th, td{

    color:white;

}


